.menu {
	background-color:yellow;
	font-size:25px;
}

.content {
	background-color:gray;
	color:green;
	font-size:20px;
}

.dark-content {
	background-color:yellow;
	color:red;
	font-size:25px;
}
.dark-menu{
		background-color:silver;
		border:2px solid black;
}

.gray-content {
	background-color:green;
	color:yellow;
	font-size:50px;
}
.gray-menu{
		background-color:red;
		border:2px solid white;
}

html,body{
	height:100%;
	}