USE [ShoppingCart]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NULL,
	[Address1] [varchar](100) NOT NULL,
	[Address2] [varchar](100) NULL,
	[City] [varchar](25) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[UserName] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Phone] [varchar](25) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyOrder]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GrandTotal] [money] NULL,
	[OrderDate] [datetime] NULL,
	[CustomerId] [int] NOT NULL,
	[Status] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_MyOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyOrderProduct]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyOrderProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MyOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 0) NULL,
	[UnitPrice] [money] NULL,
	[SubTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_MyOrderProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyShoppingCart]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyShoppingCart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[GrandTotal] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MyShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyShoppingCartProduct]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyShoppingCartProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MyShoppingCartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 0) NULL,
	[UnitPrice] [money] NULL,
	[SubTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_MyShoppingCartProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/5/2017 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[UnitPrice] [money] NULL,
	[UnitOfMeasure] [varchar](25) NULL,
	[IsActive] [bit] NULL,
	[Picture] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email], [UserName], [Password], [Phone], [IsActive], [CreatedDate]) VALUES (5, N'Shawn', N'Shi', N'shawnshi@yahoo.com', N'ShawnShi', N'abc123', N'713-789-9632', 1, CAST(N'2017-02-04T15:53:12.367' AS DateTime))
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email], [UserName], [Password], [Phone], [IsActive], [CreatedDate]) VALUES (6, N'Tom', N'Obama', N'TomSmith@gmail.com', N'TomS', N'123PWD', N'832-854-8521', 1, CAST(N'2017-02-04T15:54:04.863' AS DateTime))
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email], [UserName], [Password], [Phone], [IsActive], [CreatedDate]) VALUES (8, N'Kathy0', N'Obama0', N'KathyS0@gmail.com', N'KathyS0', N'DummyPwd1!', N'713-965-8520', 1, CAST(N'2017-02-05T13:04:48.487' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[MyOrder] ON 

INSERT [dbo].[MyOrder] ([Id], [GrandTotal], [OrderDate], [CustomerId], [Status], [CreatedDate]) VALUES (1, 12.0000, CAST(N'2017-02-04T00:00:00.000' AS DateTime), 9, N'Delivered', CAST(N'2017-02-05T13:22:15.793' AS DateTime))
INSERT [dbo].[MyOrder] ([Id], [GrandTotal], [OrderDate], [CustomerId], [Status], [CreatedDate]) VALUES (2, 23.9900, CAST(N'2017-02-04T00:00:00.000' AS DateTime), 9, N'Delivered', CAST(N'2017-02-05T13:22:48.317' AS DateTime))
INSERT [dbo].[MyOrder] ([Id], [GrandTotal], [OrderDate], [CustomerId], [Status], [CreatedDate]) VALUES (3, 10.9900, CAST(N'2017-02-05T00:00:00.000' AS DateTime), 10, N'Confirmed', CAST(N'2017-02-05T13:22:48.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[MyOrder] OFF
SET IDENTITY_INSERT [dbo].[MyOrderProduct] ON 

INSERT [dbo].[MyOrderProduct] ([Id], [MyOrderId], [ProductId], [Quantity], [UnitPrice], [SubTotal]) VALUES (1, 1, 2, CAST(1 AS Decimal(18, 0)), 1.9900, CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[MyOrderProduct] ([Id], [MyOrderId], [ProductId], [Quantity], [UnitPrice], [SubTotal]) VALUES (2, 1, 3, CAST(2 AS Decimal(18, 0)), 2.9900, CAST(6 AS Decimal(18, 0)))
INSERT [dbo].[MyOrderProduct] ([Id], [MyOrderId], [ProductId], [Quantity], [UnitPrice], [SubTotal]) VALUES (3, 2, 1, CAST(3 AS Decimal(18, 0)), 3.9900, CAST(12 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[MyOrderProduct] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [UnitPrice], [UnitOfMeasure], [IsActive], [Picture], [CreatedDate], [CreatedBy]) VALUES (1, N'KungPao Chicken', N'Spicy Chuan food', 3.9900, N'Dish', 1, NULL, CAST(N'2017-02-05T13:15:51.717' AS DateTime), NULL)
INSERT [dbo].[Product] ([Id], [Name], [Description], [UnitPrice], [UnitOfMeasure], [IsActive], [Picture], [CreatedDate], [CreatedBy]) VALUES (2, N'Beijing Beef', N'Beijing beef with hot pepper', 4.9900, N'Dish', 1, NULL, CAST(N'2017-02-05T13:17:02.430' AS DateTime), NULL)
INSERT [dbo].[Product] ([Id], [Name], [Description], [UnitPrice], [UnitOfMeasure], [IsActive], [Picture], [CreatedDate], [CreatedBy]) VALUES (3, N'Potato slice', N'Farmer veg', 1.9900, N'lbs', 1, NULL, CAST(N'2017-02-05T13:17:50.660' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MyOrder] ADD  CONSTRAINT [DF_MyOrder_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MyShoppingCart] ADD  CONSTRAINT [DF_MyShoppingCart_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Customer]
GO
ALTER TABLE [dbo].[MyOrder]  WITH CHECK ADD  CONSTRAINT [FK_MyOrder_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[MyOrder] CHECK CONSTRAINT [FK_MyOrder_Customer]
GO
ALTER TABLE [dbo].[MyOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyOrderProduct_MyOrder] FOREIGN KEY([MyOrderId])
REFERENCES [dbo].[MyOrder] ([Id])
GO
ALTER TABLE [dbo].[MyOrderProduct] CHECK CONSTRAINT [FK_MyOrderProduct_MyOrder]
GO
ALTER TABLE [dbo].[MyOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyOrderProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[MyOrderProduct] CHECK CONSTRAINT [FK_MyOrderProduct_Product]
GO
ALTER TABLE [dbo].[MyShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_MyShoppingCart_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[MyShoppingCart] CHECK CONSTRAINT [FK_MyShoppingCart_Customer]
GO
ALTER TABLE [dbo].[MyShoppingCartProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyShoppingCartProduct_MyShoppingCart] FOREIGN KEY([MyShoppingCartId])
REFERENCES [dbo].[MyShoppingCart] ([Id])
GO
ALTER TABLE [dbo].[MyShoppingCartProduct] CHECK CONSTRAINT [FK_MyShoppingCartProduct_MyShoppingCart]
GO
ALTER TABLE [dbo].[MyShoppingCartProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyShoppingCartProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[MyShoppingCartProduct] CHECK CONSTRAINT [FK_MyShoppingCartProduct_Product]
GO
