USE [ShoppingCart]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetCurrentDate]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	Unnecessary demo function
-- =============================================
CREATE FUNCTION [dbo].[udf_GetCurrentDate]
(
)
RETURNS DATETIME
AS
BEGIN
	
	RETURN GETDATE()

END

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[UserName] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Phone] [varchar](25) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vwCustomer]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwCustomer]
AS
SELECT        Id, LastName + ', ' + FirstName AS FullName
FROM            dbo.Customer

GO
/****** Object:  Table [dbo].[Address]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NULL,
	[Address1] [varchar](100) NOT NULL,
	[Address2] [varchar](100) NULL,
	[City] [varchar](25) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DemoA]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoA](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DemoA_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DemoB]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoB](
	[Id] [int] NOT NULL,
	[Address] [nchar](10) NULL,
	[DemoAId] [int] NULL,
 CONSTRAINT [PK_DemoB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyOrder]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GrandTotal] [money] NULL,
	[OrderDate] [datetime] NULL,
	[CustomerId] [int] NOT NULL,
	[Status] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_MyOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyOrderProduct]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyOrderProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MyOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 0) NULL,
	[UnitPrice] [money] NULL,
	[SubTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_MyOrderProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyShoppingCart]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyShoppingCart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[GrandTotal] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MyShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyShoppingCartProduct]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyShoppingCartProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MyShoppingCartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 0) NULL,
	[UnitPrice] [money] NULL,
	[SubTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_MyShoppingCartProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[UnitPrice] [money] NULL,
	[UnitOfMeasure] [varchar](25) NULL,
	[IsActive] [bit] NULL,
	[Picture] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email], [UserName], [Password], [Phone], [IsActive], [CreatedDate]) VALUES (5, N'Shawn', N'Shi', N'shawnshi@yahoo.com', N'ShawnShi', N'abc123', N'713-789-9632', 1, CAST(N'2017-02-04T15:53:12.367' AS DateTime))
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email], [UserName], [Password], [Phone], [IsActive], [CreatedDate]) VALUES (6, N'Tom2', N'Trump', N'TomSmith@gmail.com', N'TomS', N'123PWD', N'832-854-8521', 1, CAST(N'2017-02-04T15:54:04.863' AS DateTime))
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email], [UserName], [Password], [Phone], [IsActive], [CreatedDate]) VALUES (8, N'Kathy0', N'Obama0', N'KathyS0@gmail.com', N'KathyS0', N'DummyPwd1!', N'713-965-8520', 1, CAST(N'2017-02-05T13:04:48.487' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[DemoA] ([Id], [FirstName]) VALUES (1, N'Tom')
INSERT [dbo].[DemoA] ([Id], [FirstName]) VALUES (2, N'Smith')
INSERT [dbo].[DemoA] ([Id], [FirstName]) VALUES (3, N'John')
INSERT [dbo].[DemoB] ([Id], [Address], [DemoAId]) VALUES (1, N'A1        ', NULL)
INSERT [dbo].[DemoB] ([Id], [Address], [DemoAId]) VALUES (2, N'A2        ', 1)
INSERT [dbo].[DemoB] ([Id], [Address], [DemoAId]) VALUES (3, N'A3        ', 2)
SET IDENTITY_INSERT [dbo].[MyOrder] ON 

INSERT [dbo].[MyOrder] ([Id], [GrandTotal], [OrderDate], [CustomerId], [Status], [CreatedDate]) VALUES (1, 12.0000, CAST(N'2017-02-04T00:00:00.000' AS DateTime), 9, N'Delivered', CAST(N'2017-02-05T13:22:15.793' AS DateTime))
INSERT [dbo].[MyOrder] ([Id], [GrandTotal], [OrderDate], [CustomerId], [Status], [CreatedDate]) VALUES (2, 23.9900, CAST(N'2017-02-04T00:00:00.000' AS DateTime), 9, N'Delivered', CAST(N'2017-02-05T13:22:48.317' AS DateTime))
INSERT [dbo].[MyOrder] ([Id], [GrandTotal], [OrderDate], [CustomerId], [Status], [CreatedDate]) VALUES (3, 10.9900, CAST(N'2017-02-05T00:00:00.000' AS DateTime), 10, N'Confirmed', CAST(N'2017-02-05T13:22:48.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[MyOrder] OFF
SET IDENTITY_INSERT [dbo].[MyOrderProduct] ON 

INSERT [dbo].[MyOrderProduct] ([Id], [MyOrderId], [ProductId], [Quantity], [UnitPrice], [SubTotal]) VALUES (1, 1, 2, CAST(1 AS Decimal(18, 0)), 1.9900, CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[MyOrderProduct] ([Id], [MyOrderId], [ProductId], [Quantity], [UnitPrice], [SubTotal]) VALUES (2, 1, 3, CAST(2 AS Decimal(18, 0)), 2.9900, CAST(6 AS Decimal(18, 0)))
INSERT [dbo].[MyOrderProduct] ([Id], [MyOrderId], [ProductId], [Quantity], [UnitPrice], [SubTotal]) VALUES (3, 2, 1, CAST(3 AS Decimal(18, 0)), 3.9900, CAST(12 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[MyOrderProduct] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [UnitPrice], [UnitOfMeasure], [IsActive], [Picture], [CreatedDate], [CreatedBy]) VALUES (1, N'KungPao Chicken', N'Spicy Chuan food', 3.9900, N'Dish', 1, NULL, CAST(N'2017-02-05T13:15:51.717' AS DateTime), NULL)
INSERT [dbo].[Product] ([Id], [Name], [Description], [UnitPrice], [UnitOfMeasure], [IsActive], [Picture], [CreatedDate], [CreatedBy]) VALUES (2, N'Beijing Beef', N'Beijing beef with hot pepper', 4.9900, N'Dish', 1, NULL, CAST(N'2017-02-05T13:17:02.430' AS DateTime), NULL)
INSERT [dbo].[Product] ([Id], [Name], [Description], [UnitPrice], [UnitOfMeasure], [IsActive], [Picture], [CreatedDate], [CreatedBy]) VALUES (3, N'Potato slice', N'Farmer veg', 1.9900, N'lbs', 1, NULL, CAST(N'2017-02-05T13:17:50.660' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MyOrder] ADD  CONSTRAINT [DF_MyOrder_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MyShoppingCart] ADD  CONSTRAINT [DF_MyShoppingCart_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Customer]
GO
ALTER TABLE [dbo].[DemoB]  WITH CHECK ADD  CONSTRAINT [FK_DemoB_DemoA] FOREIGN KEY([DemoAId])
REFERENCES [dbo].[DemoA] ([Id])
GO
ALTER TABLE [dbo].[DemoB] CHECK CONSTRAINT [FK_DemoB_DemoA]
GO
ALTER TABLE [dbo].[MyOrder]  WITH CHECK ADD  CONSTRAINT [FK_MyOrder_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[MyOrder] CHECK CONSTRAINT [FK_MyOrder_Customer]
GO
ALTER TABLE [dbo].[MyOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyOrderProduct_MyOrder] FOREIGN KEY([MyOrderId])
REFERENCES [dbo].[MyOrder] ([Id])
GO
ALTER TABLE [dbo].[MyOrderProduct] CHECK CONSTRAINT [FK_MyOrderProduct_MyOrder]
GO
ALTER TABLE [dbo].[MyOrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyOrderProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[MyOrderProduct] CHECK CONSTRAINT [FK_MyOrderProduct_Product]
GO
ALTER TABLE [dbo].[MyShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_MyShoppingCart_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[MyShoppingCart] CHECK CONSTRAINT [FK_MyShoppingCart_Customer]
GO
ALTER TABLE [dbo].[MyShoppingCartProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyShoppingCartProduct_MyShoppingCart] FOREIGN KEY([MyShoppingCartId])
REFERENCES [dbo].[MyShoppingCart] ([Id])
GO
ALTER TABLE [dbo].[MyShoppingCartProduct] CHECK CONSTRAINT [FK_MyShoppingCartProduct_MyShoppingCart]
GO
ALTER TABLE [dbo].[MyShoppingCartProduct]  WITH CHECK ADD  CONSTRAINT [FK_MyShoppingCartProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[MyShoppingCartProduct] CHECK CONSTRAINT [FK_MyShoppingCartProduct_Product]
GO
/****** Object:  StoredProcedure [dbo].[usp_Customer_Get]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Customer_Get]
	@Id int
AS
BEGIN
	SELECT Id, FirstName, LastName, Email, UserName, Password, Phone, IsActive, CreatedDate
	FROM dbo.Customer
	WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Customer_GetAllActive]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Customer_GetAllActive]
	@IsActive bit
AS
BEGIN	
	SET NOCOUNT ON;

	SELECT Id, FirstName, LastName, Email, UserName, Password, Phone, IsActive, CreatedDate
	FROM [dbo].[Customer]
	WHERE IsActive = @IsActive
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Customer_GetOrders]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Customer_GetOrders]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

     --SELECT Id, FirstName, LastName, Email FROM dbo.Customer WHERE Id = @Id

     --SELECT * FROM dbo.MyOrder WHERE CustomerId = @Id


	 --JOIN

	 SELECT C.Id AS CustomerId, C.FirstName, C.LastName, C.Email, O.GrandTotal, O.OrderDate	 
	 FROM dbo.Customer C INNER JOIN dbo.MyOrder O ON
			C.Id = O.CustomerId	 
	 WHERE C.Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Customer_Insert]    Script Date: 2/12/2017 5:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shawn Shi
-- Create date: 02/09/2017
-- Description:	Insert a row into Customer
-- =============================================
CREATE PROCEDURE [dbo].[usp_Customer_Insert]
	@FirstName VARCHAR(25),
	@LastName VARCHAR(25),
	@Email VARCHAR(50),
	@UserName VARCHAR(25),
	@Password VARCHAR(25),
	@Phone VARCHAR(25),
	@IsActive BIT = 0
AS
BEGIN
	SET NOCOUNT ON;

	INSERT [dbo].[Customer] (FirstName, LastName, Email, UserName, Password, Phone, IsActive)
	VALUES (@FirstName, @LastName, @Email, @UserName, @Password, @Phone, @IsActive)

	RETURN @@IDENTITY
   
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Customer"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwCustomer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwCustomer'
GO
